<div class="app-dashboard module">
    <table>
        <caption>
            <div class="section">대시보드</div>
        </caption>
        <tbody>
           <tr class="model-attachment">
               <th scope="row">
                   <a href="{% url 'admin:service_dashboard' %}">대시보드</a>
               </th>
               <td></td>
           </tr>
        </tbody>
    </table>
</div>
<div class="app-log module">
    <table>
        <caption>
            <div class="section">서버 모니터링</div>
        </caption>
        <tbody>
           <tr class="model-attachment">
               <th scope="row">
                   <a href="{% url 'admin:log_info' %}">Info 로그</a>
               </th>
               <td></td>
           </tr>
           <tr class="model-attachment">
               <th scope="row">
                   <a href="{% url 'admin:log_error' %}">Error 로그</a>
               </th>
               <td></td>
           </tr>
           <tr class="model-attachment">
               <th scope="row">
                   <a href="{% url 'admin:log_dashboard' %}">대시보드</a>
               </th>
               <td></td>
           </tr>
        </tbody>
    </table>
</div>