{% load i18n admin_urls static admin_modify %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar">
    <div class="module">
        <table>
            <caption>
                <div class="section">서버 모니터링</div>
            </caption>
            <tbody>
               <tr class="model-attachment">
                   <th scope="row">
                       <a href="{% url 'admin:log_info' %}">Info 로그</a>
                   </th>
                   <td></td>
               </tr>
               <tr class="model-attachment">
                   <th scope="row">
                       <a href="{% url 'admin:log_error' %}">Error 로그</a>
                   </th>
                   <td></td>
               </tr>
               <tr class="model-attachment">
                   <th scope="row">
                       <a href="{% url 'admin:log_dashboard' %}">대시보드</a>
                   </th>
                   <td></td>
               </tr>
            </tbody>
        </table>
    </div>
    {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>