{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
	  .modal {
	    display: none;
	    position: fixed;
	    z-index: 9999;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0, 0, 0, 0.5);
	    display: flex;
	    justify-content: center;
	    align-items: center;
	  }

	  .modal-content {
	    background-color: #fff;
	    padding: 20px;
	    border-radius: 4px;
	    text-align: center;
	  }

	  .spinner {
	    display: inline-block;
	    width: 50px;
	    height: 50px;
	    border: 3px solid #007bff;
	    border-radius: 50%;
	    border-top-color: transparent;
	    animation: spinner-rotate 1s linear infinite;
	  }

	  .loading-text {
	    margin-top: 10px;
	    font-weight: bold;
	  }

	  @keyframes spinner-rotate {
	    0% {
		  transform: rotate(0deg);
	    }
	    100% {
		  transform: rotate(360deg);
	    }
	  }
	  @-moz-keyframes spinner-rotate {
		  from { -moz-transform: rotate(0deg); }
		  to { -moz-transform: rotate(360deg); }
	  }
	  @-webkit-keyframes spinner-rotate {
		  from { -webkit-transform: rotate(0deg); }
		  to { -webkit-transform: rotate(360deg); }
	  }
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<title>클라우드 와치 인포 로그</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
{% endblock %}

{% block bodyclass %}
{{ block.super }}
{% endblock %}


{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; monitoring_info
</div>
{% endblock %}
{% endif %}

{% block content %}
<div class="content">
	<div class="content">
		<h1 class="heading-section">클라우드 와치 인포 로그</h1>
		<div class="content-main">
			<div class="module" id="changelist">
				<div id="loading-modal" class="modal">
				  <div class="modal-content">
					<div id="spinner" class="spinner"></div>
					<h5 id="loading-text" class="loading-text">로딩 중...</h5>
				  </div>
				</div>
				<div class="changelist-form-container">
					<form class="changelist-form" method="post" novalidate>
						<div style="display:flex; flex-direction: row; align-items: center; justify-content: space-between; margin-bottom: 20px;">
							{% csrf_token %}
							<div class="actions" style="background-color:#fff; padding: 10px; border-top: none; border-bottom: none; line-height: 24px; color:#666; width: 30%;">
								<button type="button" class="button" id="loadPreviousBtn">이전 로그 조회</button>
							</div>
							<div class="actions" style="background-color:#fff; padding: 10px; border-top: none; border-bottom: none; line-height: 24px; color:#666; width: 20%;">
								<button type="button" class="button" id="loadMoreBtn">이후 로그 조회</button>
							</div>
							<div>
								<div class="col-md-6 text-right">
								  <div class="form-group">
									<label>날짜 범위 필터:</label>
									<input type="date" id="startDate" name="startDate" onchange="handleDate('start')">
									<button id="filterBtn" class="btn btn-primary">초기화</button>
								  </div>
								</div>
							</div>
						</div>
						<div class="results" style="height: 500px; overflow-y: scroll;">
							<table id="result_list">
							  <thead>
								<tr>
								  <th scope="col" style="position: sticky; top: 0; z-index: 100; padding:5px;">
									  <div class="text" style="width: 150px;">
										  <a>로그 생성 시간</a>
									  </div>
									  <div class="clear"></div>
								  </th>
								  <th scope="col" style="position: sticky; top: 0; z-index: 100; padding:5px;">
									  <div class="text">
										  <a>요청 메서드</a>
									  </div>
									  <div class="clear"></div>
								  </th>
								  <th scope="col" style="position: sticky; top: 0; z-index: 100; padding:5px;">
									  <div class="text">
										  <a>API 실행시간</a>
									  </div>
									  <div class="clear"></div>
								  </th>
								  <th scope="col" style="position: sticky; top: 0; z-index: 100; padding:5px;">
									  <div class="text">
										  <a>응답 코드</a>
									  </div>
									  <div class="clear"></div>
								  </th>
								  <th scope="col" style="position: sticky; top: 0; z-index: 100; padding:5px;">
									  <div class="text">
										  <a>서버 요청 경로</a>
									  </div>
									  <div class="clear"></div>
								  </th>
								  <th scope="col" style="position: sticky; top: 0; z-index: 100; padding:5px;">
									  <div class="text">
										  <a>로그 메세지</a>
									  </div>
									  <div class="clear"></div>
								  </th>
								</tr>
							  </thead>
							  <tbody id="logTableBody"></tbody>
							</table>
						</div>
						<p class="paginator" id="paginator"></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
  let nextToken = "{{ current_next_token|safe }}";
  let prevToken = "{{ current_prev_token|safe }}";
  let startDate = dayjs().format("YYYY-MM-DD");

  let logTableBody = document.getElementById("logTableBody");
  let loadMoreBtn = document.getElementById("loadMoreBtn");
  let loadPreviousBtn = document.getElementById("loadPreviousBtn");

  // 필터링 버튼 클릭 시 실행되는 함수
  document.getElementById("filterBtn").addEventListener("click", function() {
	const now = dayjs();
	startDate = now.format("YYYY-MM-DD");

	document.getElementById("startDate").value = startDate;
	fetchData(startDate, "fetch");
  });

  const handleDate = (date_type) => {
	  startDate = document.getElementById("startDate").value;
	  if(startDate){
		  fetchData(startDate, "fetch");
	  }
  }

  // 모달 요소 선택
  // Axios 요청 전에 모달 표시
  const loadingModal = document.getElementById('loading-modal');

  // Axios 요청 전에 모달 표시
  axios.interceptors.request.use(function (config) {
	loadingModal.style.display = 'flex';  // 모달 표시
	return config;
  }, function (error) {
	return Promise.reject(error);
  });

  // Axios 응답 후에 모달 숨김
  axios.interceptors.response.use(function (response) {
	loadingModal.style.display = 'none';  // 모달 숨김
	return response;
  }, function (error) {
	return Promise.reject(error);
  });
  const fetchData = (startDate=dayjs().format("YYYY-MM-DD"), fetchType="fetch") => {
	  const queryParamsMapper = {
		  "fetch": `?startDate=${startDate}`,
		  "loadMore": `?logToken=${nextToken}&startDate=${startDate}`,
		  "loadPrev": `?logToken=${prevToken}&startDate=${startDate}`,
	  }

	  const logInfoApiUrl = '{% url "admin:log_info_api" %}' + queryParamsMapper[fetchType];

	  axios.get(logInfoApiUrl, { withCredentials: true })
	  .then(response => {
		// 요청 성공 시 동작
		const newData = response.data;

		nextToken = newData.nextToken;
		prevToken = newData.prevToken;

		if (fetchType === "fetch") {
			while (logTableBody.firstChild) {
				logTableBody.firstChild.remove()
			}
		}
		renderData(newData.data, fetchType);
	  })
	  .catch(error => {
		// 요청 실패 시 동작
		alert(error.message);
	  });
  }


  const renderData = (newData, fetchType) => {
	newData.forEach((data) => {
	  let newRow = document.createElement("tr");
	  newRow.className = "alert";
	  newRow.innerHTML = `
		<th scope="row">${data.timestamp}</th>
		<td>${data.method}</td>
		<td>${data.executionTime}</td>
		<td>${data.statusCode}</td>
		<td>${data.path}</td>
		<td>${getMessageAsString(data.message)}</td>
	  `;

	  if (fetchType === "fetch" || fetchType === "loadPrev"){
		logTableBody.insertBefore(newRow, logTableBody.firstElementChild);
	  }  else {
		logTableBody.appendChild(newRow);
	  }
	});
  }

  loadMoreBtn.addEventListener("click", () => {
	  fetchData(startDate, "loadMore")
  });
  loadPreviousBtn.addEventListener("click", () => {
	  fetchData(startDate, "loadPrev")
  });

  function getMessageAsString(message) {
	  if (typeof message === 'object') {
		return JSON.stringify(message);
	  }
	  return message;
  }
  $(document).ready(function(){
	fetchData();
  });
</script>
{% endblock %}
